<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="basic"
            label="COM_FOURTEXX_FIELDSET_CONFIG_BASIC_LABEL"
    >
    </fieldset>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules"
               type="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               filter="rules"
               component="com_fourtexx"
               section="component">
        </field>
    </fieldset>
</config>
